.MiniCart {
  position: fixed;
  right: 0;
  top: 75px;
  height: calc(100vh - 75px);
  width: 540px;
  max-width: 100%;
  background: #fff;
  box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 0 50px 50px;
  overflow-y: auto;
  transform: translateX(150%);
  transition: transform 125ms ease;
  z-index: 100;
  @include media-breakpoint-up(lg) {
    top: 0;
    height: 100vh;
  }
  &.active {
    transform: translateX(0);
  }

  &-label {
    background: #5d5c59;
    margin-left: -50px;
    margin-right: -50px;
    padding: 10px 50px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      padding: 24px 50px;
    }

    button {
      background: transparent;
      border: 0 none;
      cursor: pointer;
      svg {
        width: 15px;
        height: 15px;
        color: #fff;
      }
    }
  }

  &-items {

  }

  &-item {
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &:after {
      content: '';
      width: 55%;
      height: 1px;
      display: block;
      margin: auto;
      background: #efefef;
      margin-top: 50px;
    }

    &-img {
      width: 100%;
      flex-shrink: 0;
      text-align: center;
      margin-bottom: 50px;
    }
    &-infos {

    }
    &-title {
      a {

        color: inherit;
        text-transform: uppercase;
      }
    }
    &-variant {
      font-size: rem-calc(11);
      margin-top: 3px;
    }
    &-gift {
      font-size: 11px;
      margin-bottom: 5px;
    }
    &-delete {
      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  &-accounting {
    margin-bottom: 30px;
    margin-left: -25px;
    margin-right: -25px;

    &-subtotal {
      padding: 0 25px 12.5px;
    }

    &-delivery {
      padding: 12.5px 25px;
    }

    &-total {
      padding: 25px;
      background: #fafafa;
    }
  }

}


.emptyCart{
  padding: 10%;
  text-align: center;
  margin: 50px 0;
  top:10%;
  background-color: rgb(244, 154, 23);
  color:white;
}

