.headMiniCart{
    background: #5d5c59;
    margin-left: -50px;
    margin-right: -50px;
    padding: 25px 50px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.headMiniCart svg{
    width:20px;
    height:20px;
}

